<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>WordPress &#8250; ReadMe</title>
	</head>
<body>
  <%- include('partials/nav.ejs') %>
<h1 style="text-align: center">Welcome to the profile of <%=person%></h1>
<p>Age: <%= data.age %></p>
<p>Job: <%= data.job %></p>
<ul>
    <li>
        <%data.hobbies.forEach(function(item){ %>
            <li><%= item %></li>
        <% }) %>
    </li>
</ul>

</body>